<form [formGroup]="carInfo" (ngSubmit)="Submit()">
  <div class="formContainer">
    <div>
      <label>Rank: </label>
      <input type="number" name="rank" formControlName="rank">
    </div>
    <div>
      <label>Model: </label>
      <input type="text" name="model" formControlName="model">
    </div>
    <div>
      <label>Amount: </label>
      <input type="number" name="quantity" formControlName="quantity">
    </div>
    <div>
      <label>Change in %: </label>
      <input type="number" name="changeQuantityPercent" formControlName="changeQuantityPercent">
    </div>
  </div>
    <input [disabled]="carInfo.invalid" type="submit" value="Add car">
</form>
<br>
<ng-container *ngIf="(cars$ | async) as cars">
  <div class="Container">
    <div>
      <p>Rank</p>
    </div>
    <div>
      <p>Model</p>
    </div>
    <div>
      <p>Quantity</p>
    </div>
    <div>
      <p>Change in %</p>
    </div>
  </div>
  <div class="Container" *ngFor="let car of cars; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even}">
    <div>
      <p>{{car.rank}}</p>
    </div>
    <div>
      <p>{{car.model}}</p>
    </div>
    <div>
      <p>{{car.quantity}}</p>
    </div>
    <div>
      <p>{{car.changeQuantityPercent}}</p>
    </div>
  </div>
</ng-container>